{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/tslint"
  ],
  "parserOptions": {
    "project": "tsconfig.json",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/tslint/config": ["error", {
      "lintFile": "./tslint.json"
    }]
  }
}
